.banner {
    width: 100%;
    background-color: #d2d5c8;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}

.rolling-words {
    display: inline-block;
    white-space: no wrap;
    animation: roll 40s linear infinite; /* Adjust the duration as needed */
}

.word {
    padding: 0 10px;
}

@keyframes scroll-left  {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}