.banner {
    width: 100%;
    background-color: #d2d5c8;
    color: #3366CC;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}
.bannerContents {
  width:100%;
  padding-top: 20px;
  margin:0 auto;
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Museo';
  font-weight: 300;
}

.rolling-words1 {
    display: inline-block;
    animation: roll1 40s linear infinite; /* Adjust the duration as needed */
}

.rolling-words2 {
    display: inline-block;
    animation: roll2 40s linear infinite; /* Adjust the duration as needed */
    animation-delay: 20s;
}

.glossary {
    padding: 0 10px;
}

@keyframes roll1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes roll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}