$text-color:#141414;

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #595757;
  font-size: 16px;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1100px;
  }

}

h1,
h2,
h3,
h4,
h5 {
  color: $text-color
}

a,
a:hover {
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #142d4c;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #142d4c;
}


nav {
  align-self: center;
}

nav .nav {
  display: flex;
}

nav .nav-item {
  margin: 0 10px;
  list-style: none;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #9fd3c7;
}

footer {

  position: relative;
  //border-bottom: 30px solid #A6A6A6;
  position: relative;
  padding: 50px 0px;

  background-image: url('/assets/images/footer.png');
  background-repeat: repeat-x;
  background-position: center center;

  // &::before {
  //   content: "";
  //   display: block;
  //   width: 150px;
  //   height: 30px;
  //   position: absolute;
  //   bottom: -30px;
  //   left: 0px;
  //   background-color: #000;
  // }
}

main {}

article {
  background-color: #ffffff;
  padding: 15px;
  margin: 30px 0;
}


body {
  background-color: #D2D5C8;

}

$brand-color:#4A5343;
$brand-second:#457AAA;

.site-header {

  background-color: $brand-color;
  background-image: url('/assets/images/header.png');
  background-repeat: repeat-x;
  background-position: center center;
  padding: 30px 0px;
  border-bottom: 10px solid #A9AD95;

  @media screen and (max-width: 991px) {
    padding: 20px 0px
  }

}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a.logo {
    img {
      height: 60px;

      @media screen and (max-width: 767px) {
        height: 50px
      }

    }
  }
}

img {
  max-width: 100%;
}

.locales {

  a {
    color: #fff;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    font-size: 14px;

    @media screen and (max-width: 767px) {
      font-size: 13px
    }


  }

  span {
    color: #fff;
    display: inline-block;
    margin: 0px 10px;

    @media screen and (max-width: 767px) {
      font-size: 12px;
      margin: 0px 5px
    }


    &:last-child {
      display: none;
    }
  }
}

.home-page {
  padding: 30px 0px;

  h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;

    @media screen and (max-width: 991px) {
      font-size: 20px
    }

  }

  .home-banner {
    margin: 0px 0px 50px 0px;

    img {
      width: 100%;
    }
  }

  .post-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: flex;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 13px 25px;
      background-color: #E9E9E9;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      margin: 0px 0px 20px 0px;
      align-items: center;

      flex-wrap: wrap;
      transition: all ease 0.3s;


      &:hover {
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      }

      span {
        width: 20%;
        color: $brand-second;
        font-size: 16px;

        @media screen and (max-width: 767px) {
          width: 100%;
          font-size: 14px;
        }

      }

      h2 {
        width: 75%;
        margin: 0px 0px 0px 0px;
        font-size: 16px;

        @media screen and (max-width: 767px) {
          width: 100%
        }


        a {
          color: $brand-second;
          font-size: 16px;
        }
      }

      .more {
        width: 5%;
        text-transform: uppercase;
        color: $text-color;
        font-size: 14px;
        text-align: right;

        @media screen and (max-width: 767px) {
          display: none
        }


        &:hover {
          text-decoration: underline;
        }
      }

    }
  }

}

.bottom {
  background-image: url('/assets/images/bottom.png');
  background-repeat: repeat-x;
  margin: 30px 0px 30px 0px;
  padding: 30px;

  .bottom-box {
    display: flex;

    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
    }
  }




  .left {

    flex-shrink: 0;
    border-right: 1px solid #000;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 10px 0px 0px;

    @media screen and (max-width: 991px) {
      width: 100%;
      border: none;
      padding: 0px;

      p {
        font-size: 12px;

        br {
          display: none;
        }
      }
    }



  }

  .right {
    width: 100%;
    padding: 10px 10px 10px 10px;

    @media screen and (max-width: 991px) {
      padding: 0px 0px 0px 0px
    }

    p {
      font-size: 12px;
    }
  }

  .right-scroll {
    overflow: auto;
    max-height: 162px;
  }
}

.footer-nav {
  a {
    color: $text-color;
    font-size: 16px;

    &:hover {
      color: $brand-second;
    }
  }

  span {
    font-size: 16px;
    display: inline-block;
    margin: 0px 10px;

    &:last-child {
      display: none;
    }
  }
}