---
layout: default
---
<article class="post">

  <div class="return-nav" style="margin-bottom: 20px;">
    <a href="{{ site.baseurl }}/{% if page.lang == '简体中文' %}index-cn.html{% elsif page.lang == '繁體中文' %}index-tw.html{% endif %}"
      style="display: inline-block; text-decoration: none; font-size: 2em; font-weight: bold; color: #fff; background-color: #999; padding: 5px 15px; border-radius: 5px; line-height: 1;">&#8592;</a>
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>